.error-label-container {
    -fx-padding: 10;
    -fx-background-color: transparent;
}

.error-label {
    -fx-background-color: yellow;
    -fx-padding: 5px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}
