.confirm-icon {
    -fx-cursor: hand;
    -fx-fill: #4A92FF;
}

.confirm-icon:hover {
    -fx-fill: #0078d7;
}

.cancel-icon {
    -fx-cursor: hand;
    -fx-fill: #FD4343;
}

.cancel-icon:hover {
    -fx-fill: #FF0000;
}